{% extends 'common/base.html' %}
{% load static %}
{% block title %}Edit team{% endblock %}

{% block content %}
    <div class="container mx-auto py-20 px-5">
        <h1 class="text-3xl font-semibold text-center mb-4">Add Team</h1>
        <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md p-6">
            <form method="post" action="{% url 'add_team' %}">
                {% csrf_token %}
                <div class="flex flex-wrap -mx-3 mb-6 ml-4">
                    {{ form.as_p }}
                </div>
                <button type="submit"
                        class="px-5 py-2 mt-4 ml-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900 rounded">Submit
                </button>

            </form>
        </div>
    </div>
{% endblock %}
