{% extends 'common/base.html' %}
{% block title %}All leads{% endblock %}
{% load static %}

{% block content %}
    <div class="text-2xl font-light text-center py-20 px-0">
        <h1 class="mb-4">All Teams</h1>
        <div class="flex justify-between pb-4 bg-white dark:bg-gray-900 ml-2">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative mt-1">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                    </svg>
                </div>
                <input type="text" id="table-search"
                       class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50
                       focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600
                       dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Search for leads">
            </div>
            <a href="{% url 'add_team' %}" class="inline-flex items-center p-2 pl-3 text-sm font-medium text-center
        rounded-lg border border-transparent bg-teal-500 hover:bg-indigo-500 hover:text-white bg-blue-600 rounded-lg
        hover:bg-blue-900 hover:text-white text-white mr-2">Add team</a>
        </div>

        {% if teams %}
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mr-2 ml-2">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Agents
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Leads
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Clients
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Owner
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Created at
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Updated at
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in teams %}
                        <tr class="border-b dark:bg-gray-900 dark:border-gray-700 bg-gray-100 {% cycle 'bg-white' 'bg-grey-100' %}">
                            <td class="px-6 py-4 font-medium">{{ team.name }}</td>

                            <td class="px-6 py-4">{{ team.user_set.count }}</td>

                            <td class="px-6 py-4">{{ team.leads.count }}</td>

                            <td class="px-6 py-4">{{ team.teams.count }}</td>

                            <td class="px-6 py-4">{{ team.created_by }}</td>

                            <td class="px-6 py-4">{{ team.created_at }}</td>

                            <td class="px-6 py-4">{{ team.updated_at }}</td>

                            <td class="px-6 py-4">
                                <a href="#"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                    Details
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="text-center">No leads</div>
        {% endif %}
        {% include 'partials/leads_pagination.html' %}
    </div>
{% endblock %}