{% extends 'common/base.html' %}
{% load static %}
{% block title %}My profile{% endblock %}

{% block content %}
    <div class="h-screen bg-blue-100 text-2xl rounded-xl text-center py-20 px-0">
    <h1 class="text-xl">Personal Information</h1>
        <div class="md:grid md:grid-cols-3 md:gap-6 mt-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-o">
                    {% if request.user.userprofile.avatar %}
                        <img class="rounded-full" style="width: 400px; height: auto" src="{{ request.user.userprofile.avatar.url }}">
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}">
                    {% endif %}
                </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2 rounded-xl">
                <form action="{% url 'profile' user.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="overflow-hidden rounded-xl shadow-lg">
                        <div class="px-4 py-5 bg-white sm:p-6">
                            <div class="grid grid-cols-6 gap-6">
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="first_name" class="block text-sm font-medium text-gray-700">
                                        First name
                                    </label>
                                    <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}"
                                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full
                                           shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>

                                <div class="col-span-6 sm:col-span-3">
                                    <label for="last_name" class="block text-sm font-medium text-gray-700">
                                        Last name
                                    </label>
                                    <input type="text" name="last_name" id="last_name" autocomplete="family-name"
                                           value="{{ user.last_name }}"
                                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full
                                           shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>

                                <div class="col-span-6 sm:col-span-3">
                                    <label for="email" class="block text-sm font-medium text-gray-700">
                                        Email address
                                    </label>
                                    <input type="text" name="email" id="email" autocomplete="email"
                                           value="{{ user.email }}"
                                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full
                                           shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="current_team" class="block text-sm font-medium text-gray-700">
                                        Current team
                                    </label>
                                    <input type="text" name="team" id="team" autocomplete="team"
                                           value="{{ user.team }}" disabled
                                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full
                                           shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>

{#                                <div class="col-span-6 sm:col-span-3">#}
{#                                    <label for="team" class="block text-sm font-medium text-gray-700">#}
{#                                        Team#}
{#                                    </label>#}
{#                                    <select id="team" name="team" autocomplete="team"#}
{#                                            class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white#}
{#                                            rounded-md shadow-sm focus:outline-none#}
{#                                            focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">#}
{#                                        {% for team in teams %}#}
{#                                            <option>{{ team }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}

                                <div class="col-span-6">
                                    <label for="bio" class="block text-sm font-medium text-gray-700">
                                        Addition information
                                    </label>
                                    <textarea name="bio" id="id_bio"
                                           autocomplete="bio" placeholder=""
                                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full
                                           shadow-sm sm:text-base border-gray-300 rounded-md">{{ user.userprofile.bio }}
                                    </textarea>
                                </div>

{#                                <div class="col-span-6 sm:col-span-6 lg:col-span-2">#}
{#                                    <label for="city" class="block text-sm font-medium text-gray-700">#}
{#                                        City#}
{#                                    </label>#}
{#                                    <input type="text" name="city" id="city"#}
{#                                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full#}
{#                                           shadow-sm sm:text-sm border-gray-300 rounded-md">#}
{#                                </div>#}
{##}
{#                                <div class="col-span-6 sm:col-span-3 lg:col-span-2">#}
{#                                    <label for="state" class="block text-sm font-medium text-gray-700">#}
{#                                        State / Province#}
{#                                    </label>#}
{#                                    <input type="text" name="state" id="state"#}
{#                                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full#}
{#                                           shadow-sm sm:text-sm border-gray-300 rounded-md">#}
{#                                </div>#}
{##}
{#                                <div class="col-span-6 sm:col-span-3 lg:col-span-2">#}
{#                                    <label for="postal_code" class="block text-sm font-medium text-gray-700">#}
{#                                        ZIP / Postal#}
{#                                    </label>#}
{#                                    <input type="text" name="postal_code" id="postal_code" autocomplete="postal-code"#}
{#                                           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full#}
{#                                           shadow-sm sm:text-sm border-gray-300 rounded-md">#}
{#                                </div>#}
                                <div class="col-span-6 sm:col-span-3 lg:col-span-2 file:bg-blue-500">
                                    <label class="text-sm font-medium text-gray-900 block mb-2" for="avatar">Upload picture</label>
                                    <input class="block w-full mb-5 text-xs text-gray-900 border border-gray-300
                                    rounded-lg cursor-pointer bg-gray-50 focus:outline-none"
                                           type="file" id="avatar"
                                           name="avatar" accept="image/*">
                                </div>
                            </div>
                            <a href="#" class="text-sm text-blue-700">Reset password</a>
                        </div>
                        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                            <button type="submit"
                                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm
                                    text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700
                                    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
