{% load static %}
{% load tags %}
<nav class="bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% fixed z-50 top-0 left-0 w-full">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="{% url 'index' %}" class="flex items-center">
            <img src="{% static 'images/crm.png' %}" class="h-8 mr-3" alt="Logo"/>
            {% if request.user.organizations %}
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">{% organization_name request.user.organizations.first %}</span>
            {% else %}
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white"> CRM</span>
            {% endif %}
        </a>
        <div class="flex items-center md:order-2">
            {% if not request.user.is_authenticated %}
                <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0">
                    <li>
                        <a href="{% url 'login' %}"
                           class="block py-2 pl-3 pr-4 text-white rounded md:bg-transparent md:p-0 md:hover:text-blue-700
                       hover:underline"
                           aria-current="page">
                            <i class="fa fa-arrow-right-to-bracket"></i> Log in
                        </a>
                    </li>
                </ul>
            {% else %}
                <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName"
                        class="flex items-center text-sm font-medium text-white hover:text-blue-600"
                        type="button">
                    <span class="sr-only">Open user menu</span>
                    {% if request.user.userprofile.avatar %}
                        <img class="w-8 h-8 mr-2 rounded-full" src="{{ request.user.userprofile.avatar.url }}">
                    {% else %}
                        <img class="w-8 h-8 mr-2 rounded-full" src="{% static 'images/default.jpg' %}"
                             alt="user photo">
                    {% endif %}
                    {% firstof request.user.get_full_name request.user.email %}
                    <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 4 4 4-4"></path>
                    </svg>
                </button>

                <!-- Dropdown menu -->
                <div id="dropdownAvatarName"
                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                        {% if request.user.get_full_name %}
                            <div class="font-medium ">{{ request.user.get_full_name }}</div>
                        {% endif %}
                        <div class="truncate">{{ request.user.email }}</div>
                    </div>
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                        aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
                        {% if request.user.is_staff %}
                            <li>
                                <a href="{% url 'admin:index' %}"
                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <i class="fa fa-sliders"></i> Admin panel
                                </a>
                            </li>
                        {% endif %}
                        {% if  request.user.is_org_owner or request.user.is_staff %}
                            {% if request.user.is_superuser %}
                                <li>
                                    <a href="{% url 'organization_list' %}"
                                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                        <i class="fa-regular fa-user"></i> Organizations
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                            <li>
                                <a href="{% url 'all_teams' %}"
                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <i class="fa fa-users"></i> Teams
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'agents' %}"
                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <i class='fas fa-users-cog'></i> Agents
                                </a>
                            </li>
                            </ul>
                        {% endif %}
                    <div class="py-2">
                        <a href="{% url 'profile' pk=request.user.pk %}"
                           class="block text-sm px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                            <i class="fa-regular fa-user"></i> My Profile
                        </a>
                        <a href="{% url 'logout' %}"
                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600
                           dark:text-gray-200 dark:hover:text-white">
                            <i class="fa fa-arrow-right-from-bracket"></i> Sign out
                        </a>
                    </div>
                </div>

            {% endif %}
            <button data-collapse-toggle="navbar-user" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg
                    md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400
                    dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M1 1h15M1 7h15M1 13h15">
                    </path>
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'dashboard' %}"
                           class="block py-2 pl-3 pr-4 text-white rounded md:bg-transparent md:p-0 md:hover:text-blue-700
                       hover:underline" aria-current="page">
                            <i class="fa fa-dashboard"></i><span> Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'all_leads' %}"
                           class="block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 md:hover:bg-transparent
                       md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700
                       dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 hover:underline">
                            <i class="fa fa-bullhorn" aria-hidden="true"></i> Leads
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'all_clients' %}"
                           class="block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 md:hover:bg-transparent
                       md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700
                       dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 hover:underline">
                            <i class='fas fa-user-friends'></i> Clients
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'about' %}"
                       class="block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 md:hover:bg-transparent
                       md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700
                       dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 hover:underline">
                        <i class='fas fa-align-center'></i> About
                    </a>
                </li>
                <li>
                    <a href="{% url 'contact' %}"
                       class="block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 md:hover:bg-transparent
                       md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700
                       dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 hover:underline">
                        <i class='far fa-envelope-open'></i> Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
