{% extends 'common/base.html' %}
{% load static %}
{% block title %}Client Details{% endblock %}

{% block content %}

    <section class="flex justify-center items-center h-screen w-full bg-blue-100 font-light">
        <div class="flex justify-center items-center h-screen w-full bg-blue-100 font-light">
            <div class="w-1/2 bg-white shadow-xl shadow-gray-700 p-8 m-4 rounded-xl">
                <h1 class="block w-full text-center font-medium text-gray-800 text-2xl mb-6">{{ client.name }}</h1>
                <form method="get">
                    <div class="flex justify-evenly">
                        <div class="flex flex-col mb-1 w-1/2">
                            <label class="mb-2 text-lg text-gray-900" for="name">Team</label>
                            <input disabled class="border py-2 px-3 text-grey-800 rounded-lg" value="{{ client.team }}">
                        </div>
                        <div class="flex flex-col mb-1 w-1/2">
                            <label class="mb-2 text-lg text-gray-900" for="email">Email</label>
                            <input disabled class="border py-2 px-3 text-grey-800 rounded-lg"
                                   value="{{ client.email }}">
                        </div>
                    </div>
                    <div class="flex flex-col mb-4">
                        <label class="mb-2 text-lg text-gray-900" for="priority">Converter by</label>
                        <input disabled class="border py-2 px-3 text-grey-800 rounded-lg"
                               value="{{ client.converted_by }}">
                    </div>
                    <div class="flex flex-col mb-4">
                        <label class="mb-2 text-lg text-gray-900" for="status">Lead agent</label>
                        <input disabled class="border py-2 px-3 text-grey-800 rounded-lg"
                               value="{{ client.lead_agent }}">
                    </div>
                    <div class="flex justify-evenly">
                        <div class="flex flex-col mb-1 w-1/2">
                            <label class="mb-2 text-lg text-gray-900" for="status">Created at</label>
                            <input disabled class="border py-2 px-3 text-grey-800 rounded-lg"
                                   value="{{ client.created_at }}">
                        </div>
                        <div class="flex flex-col mb-1 w-1/2">
                            <label class="mb-2 text-lg text-gray-900" for="status">Updated at</label>
                            <input disabled class="border py-2 px-3 text-grey-800 rounded-lg"
                                   value="{{ client.updated_at }}">
                        </div>
                    </div>
                    {% if client.notes %}
                        <div class="flex flex-col mb-4">
                            <label class="mb-2 text-lg text-gray-900" for="notes">Notes</label>
                            <textarea disabled class="border py-2 px-3 text-grey-800 rounded-lg">{{ client.notes }}</textarea>
                        </div>
                    {% endif %}
                    <div class="flex justify-center space-x-4 mt-6">
                        <a href="{% url 'edit_client' client.pk %}"
                           class="bg-teal-500 hover:bg-indigo-500 text-white px-4 py-2 rounded-lg transition duration-200">
                            Edit
                        </a>
                        <a href="{% url 'delete_client' client.pk %}"
                           class="bg-red-500 hover:bg-red-900 text-white px-4 py-2 rounded-lg transition duration-200">
                            Delete
                        </a>
                        <button class="px-4 py-2 bg-gray-400 text-white rounded-lg hover:bg-gray-600 transition duration-200"
                                onclick="history.back()">Back
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
