{% extends 'common/base.html' %}
{% block title %}Edit Client{% endblock %}
{% load static %}
{% block content %}
    <div class="container mx-auto mt-20 p-4">
        <h1 class="text-3xl font-semibold text-center mb-6">Edit Client</h1>
        <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md p-6">
            <form method="post" action="." class="space-y-4">
                {% csrf_token %}

                <!-- Name Field -->
                <div class="flex flex-col">
                    <label for="{{ form.name.id_for_label }}" class="text-gray-700">Name</label>
                    {{ form.name }}
                </div>

                <!-- Email Field -->
                <div class="flex flex-col">
                    <label for="{{ form.email.id_for_label }}" class="text-gray-700">Email</label>
                    {{ form.email }}
                </div>

                <!-- Notes Field -->
                <div class="flex flex-col">
                    <label for="{{ form.notes.id_for_label }}" class="text-gray-700">Notes</label>
                    {{ form.notes }}
                </div>

                <div class="flex justify-between">
                    <button type="submit"
                            class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-900 transition duration-200">
                        Submit
                    </button>
                    <a href="{% url 'all_leads' %}"
                       class="px-4 py-2 bg-gray-400 text-white rounded-lg hover:bg-gray-600 transition duration-200">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
