{% extends 'common/base.html' %}
{% block title %}Edit Client{% endblock %}
{% load static %}
{% block content %}

    <div class="flex justify-center items-center h-screen w-full bg-blue-100 font-light">
        <div class="w-1/2 bg-white shadow-xl shadow-gray-700 p-8 m-4 rounded-xl">
            <button class="px-4 py-2 bg-gray-400 text-white rounded-lg hover:bg-gray-600 transition duration-200"
                    onclick="history.back()">Go Back
            </button>
            <h1 class="block w-full text-center text-gray-800 text-2xl mb-6">Edit client</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="flex flex-col mb-4">
                    <label class="mb-2 text-lg text-gray-900" for="name">Name</label>
                    {{ form.name.errors|striptags }}
                    <input class="border py-2 px-3 text-grey-800 rounded-lg" value="{{ form.name.value }}" type="text"
                           name="name" id="name">
                </div>
                <div class="flex flex-col mb-4">
                    <label class="mb-2 text-lg text-gray-900" for="email">Email</label>
                    {{ form.email.errors|striptags }}
                    <input class="border py-2 px-3 text-grey-800 rounded-lg" value="{{ form.email.value }}" type="text"
                           name="email" id="email">
                </div>
                <div class="flex flex-col mb-4">
                    <label class="mb-2 text-lg text-gray-900" for="notes">Notes</label>
                    {{ form.notes.errors|striptags }}
                    <textarea class="border py-2 px-3 text-grey-800 rounded-lg" type="text" name="notes" id="notes">{{ form.notes.value }}</textarea>
                </div>
                <button class="block bg-blue-500 hover:bg-blue-800 text-white uppercase text-lg mx-auto p-4 rounded-lg"
                        type="submit">Save changes
                </button>
            </form>
        </div>
    </div>
{% endblock %}
