{% extends 'common/base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block content %}
    <div class="bg-gray-200 px-4 py-20 h-screen flex flex-col">
        <div class="container mx-auto my-12">
            <p class="text-center text-base font-semibold leading-7 text-primary-500">Features</p>
            <h2 class="text-center font-display text-3xl font-bold tracking-tight text-slate-900 md:text-4xl">
                Lorem ipsum dolor sit amet
            </h2>
            <ul class="mt-16 grid grid-cols-1 gap-6 text-center text-slate-700 md:grid-cols-3 pt-6">
                <li class="rounded-xl bg-white px-6 py-8 shadow-sm">

                    <img src="https://www.svgrepo.com/show/530438/ddos-protection.svg" alt="" class="mx-auto h-10 w-10">
                    <h3 class="my-3 font-display font-medium">Lorem ipsum dolor sit amet</h3>
                    <p class="mt-1.5 text-sm leading-6 text-secondary-500">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Egestas tellus rutrum tellus pellentesque eu tincidunt. Proin
                        fermentum leo vel orci.
                    </p>

                </li>
                <li class="rounded-xl bg-white px-6 py-8 shadow-sm">

                    <img src="https://www.svgrepo.com/show/530442/port-detection.svg"
                         alt="" class="mx-auto h-10 w-10">
                    <h3 class="my-3 font-display font-medium">Rhoncus dolor purus non enim praesent</h3>
                    <p class="mt-1.5 text-sm leading-6 text-secondary-500">
                        Rhoncus dolor purus non enim praesent elementum facilisis leo. Proin sagittis nisl rhoncus
                        mattis rhoncus. Eget est lorem ipsum dolor sit amet. Risus viverra adipiscing at in tellus.
                    </p>

                </li>
                <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
                    <img src="https://www.svgrepo.com/show/530444/availability.svg" alt="" class="mx-auto h-10 w-10">
                    <h3 class="my-3 font-display font-medium">Vel pretium lectus quam id leo in</h3>
                    <p class="mt-1.5 text-sm leading-6 text-secondary-500">
                        Vel pretium lectus quam id leo in. Netus et malesuada fames ac. Sed viverra ipsum nunc aliquet
                        bibendum enim facilisis gravida. Egestas diam in arcu cursus euismod.
                    </p>

                </li>
                <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
                    <a href="/pricing" class="group">
                        <img src="https://www.svgrepo.com/show/530440/machine-vision.svg" alt=""
                             class="mx-auto h-10 w-10">
                        <h3 class="my-3 font-display font-medium group-hover:text-primary-500">Id diam vel quam elementum pulvinar etiam non</h3>
                        <p class="mt-1.5 text-sm leading-6 text-secondary-500">
                            Id diam vel quam elementum pulvinar etiam non. Ornare suspendisse sed nisi lacus sed viverra
                            tellus. Amet luctus venenatis lectus
                            magna fringilla urna.
                        </p>
                    </a>
                </li>
                <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
                    <a href="/templates" class="group">
                        <img src="https://www.svgrepo.com/show/530450/page-analysis.svg" alt=""
                             class="mx-auto h-10 w-10">
                        <h3 class="my-3 font-display font-medium group-hover:text-primary-500">
                            Nibh sed pulvinar proin gravida
                        </h3>
                        <p class="mt-1.5 text-sm leading-6 text-secondary-500">
                            Nibh sed pulvinar proin gravida hendrerit lectus a. Enim eu turpis egestas pretium.
                            Facilisis gravida neque convallis a cras
                            semper.
                        </p>
                    </a>
                </li>
                <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
                    <a href="/download" class="group">
                        <img src="https://www.svgrepo.com/show/530453/mail-reception.svg" alt=""
                             class="mx-auto h-10 w-10">
                        <h3 class="my-3 font-display font-medium group-hover:text-primary-500">Ac auctor augue mauris augue neque gravida</h3>
                        <p class="mt-1.5 text-sm leading-6 text-secondary-500">
                            Ac auctor augue mauris augue neque gravida. Et netus et malesuada fames ac turpis egestas
                            maecenas pharetra. Tellus elementum
                            sagittis vitae et.
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}