{% extends 'common/base.html' %}
{% load static %}
{% block title %}Log in{% endblock %}
{% block content %}
    <div class="flex justify-center items-center h-screen w-full bg-blue-100 font-light">
        <div class="bg-white shadow-xl shadow-gray-700 p-8 m-4 rounded-xl">
            <form method="post" action="{% url 'login' %}"
                  class="px-10 py-8 rounded-lg drop-shadow-lg space-y-5">
                {% csrf_token %}
                <h1 class="text-2xl font-light text-gray-500">Log In</h1>
                <p style="color: red"><strong>{{ form.username.errors|striptags }}</strong></p>
                <div class="pl-2 border border-slate-300 rounded-md">
                    <label for="username"><i class="fa-solid fa-envelope text-gray-500"></i></label>
                    <input type="text" id="username" name="username" placeholder="email"
                           class="px-2 py-2 w-96 border-0 rounded-r-lg focus:outline-0"/>
                </div>

                <p style="color: red"><strong>{{ form.password.errors|striptags }}</strong></p>
                <p style="color: red"><strong>{{ form.non_field_errors|striptags }}</strong></p>
                <div class="pl-2 border border-slate-300 rounded-md">
                    <label for="password"><i class="fa-solid fa-lock text-gray-500"></i></label>
                    <input type="password" id="password" name="password" placeholder="password"
                           class="px-2 py-2 w-96 border-0 rounded-r-lg focus:outline-0"/>
                </div>
                <div>
                    <input class="mr-4" type="checkbox" id="remember_me" name="remember_me"/>
                    <label class="text-gray-500" for="remember_me">Remember me</label>
                </div>

                <button type="submit"
                        class="w-full px-5 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900">
                    <i class="fa-solid fa-right-to-bracket mr-2"></i>
                    Sign In
                </button>
                <input type="hidden" name="next" value="{{ next }}"/>
                <div class="mt-6  text-gray-500">
                    Forgot your password?
                    <a class="text-blue-600 hover:underline" href="{% url 'password-reset' %}">
                        Password reset
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
