{% extends 'common/base.html' %}
{% block title %}Edit lead{% endblock %}
{% load static %}
{% block content %}
    <h1 class="text-2xl font-light text-center mt-20">Edit Lead</h1>

    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="px-5 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900 rounded">Submit</button>
        <a href="{% url 'all_leads' %}" class="px-5 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900 rounded">Cancel</a>
    </form>
{% endblock %}