{% extends 'common/base.html' %}
{% load static %}
{% load tags %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <section class="h-screen text-2xl bg-blue-100 font-light text-center px-0">
        {% if request.user.is_agent %}
            <h1 class="text-xl">Dashboard</h1>
            <div class="flex mt-4 mb-4 bg-blue-100">
                <div class="w-1/2 leads scrollable-container">
                    <h2 class="mb-6 text-lg">Leads</h2>
                    {% if leads %}
                        <div class="relative overflow-x-auto shadow-md rounded-lg">
                            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Email
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Team
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Priority
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Status
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Agent
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for lead in leads %}
                                    <tr class="border-b dark:bg-gray-900 dark:border-gray-700 bg-gray-100 {% cycle 'bg-white' 'bg-grey-100' %}">
                                        <td class="px-6 py-4 font-medium">{{ lead.name }}</td>

                                        <td class="px-6 py-4">{{ lead.email }}</td>

                                        <td class="px-6 py-4">{{ lead.team }}</td>

                                        <td class="px-6 py-4">{{ lead.get_priority_display }}</td>

                                        <td class="px-6 py-4">{{ lead.get_status_display }}</td>

                                        <td class="px-6 py-4">{{ lead.created_by }}</td>

                                        <td class="px-6 py-4">
                                            {% if request.user == lead.created_by or request.user.is_org_owner or request.user.is_superuser %}
                                                <a href="{% url 'lead_details' pk=lead.pk %}"
                                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                                    Details
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="text-center">No leads</div>
                    {% endif %}
                    {% include 'partials/leads_pagination.html' %}
                </div>

                <div class="w-1/2 clients scrollable-container">
                    <h2 class="mb-6 text-lg">Clients</h2>
                    {% if clients %}
                        <div class="relative overflow-x-auto shadow-md rounded-lg mr-2 ml-2">
                            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Email
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Team
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Converted by
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Lead Agent
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in clients %}
                                    <tr class="border-b dark:bg-gray-900 dark:border-gray-700 bg-gray-100 {% cycle 'bg-white' 'bg-grey-100' %}">
                                        <td class="px-6 py-4 font-medium">{{ client.name }}</td>

                                        <td class="px-6 py-4">{{ client.email }}</td>

                                        <td class="px-6 py-4">{{ client.team }}</td>

                                        <td class="px-6 py-4">{{ client.converted_by }}</td>

                                        <td class="px-6 py-4">{{ client.lead_agent }}</td>

                                        <td class="px-6 py-4">
                                            {% if request.user == client.created_by or request.user == client.converted_by or request.user.is_org_owner or request.user.is_superuser %}
                                                <a href="{% url 'client_details' client.pk %}"
                                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                                    Details
                                                </a>
                                            {% endif %}
                                            {#                            <a href="{% url 'edit_lead' lead.pk %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">#}
                                            {#                                Edit#}
                                            {#                            </a>#}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="text-center">No clients</div>
                    {% endif %}
                    {% include 'partials/clients_pagination.html' %}
                </div>
            </div>
            {% if not request.user.is_agent %}
                <div class="flex mt-4 mb-4 bg-blue-100">
                    <div class="w-1/2 clients scrollable-container">
                        <h2 class="mb-6 text-lg mt-4">Agents</h2>
                        {% if agents %}
                            <div class="relative overflow-x-auto shadow-md rounded-lg mr-2 ml-2">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Name
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Team
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Email
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Leads
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Clients
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for agent in agents %}
                                        <tr class="border-b dark:bg-gray-900 dark:border-gray-700 bg-gray-100 {% cycle 'bg-white' 'bg-grey-100' %}">
                                            <td class="px-6 py-4 font-medium">{{ agent.first_name }} {{ agent.last_name }}</td>

                                            <td class="px-6 py-4">{{ agent.team }}</td>

                                            <td class="px-6 py-4">{{ agent.email }}</td>

                                            <td class="px-6 py-4">{{ agent.lead_set.count }}</td>

                                            <td class="px-6 py-4">{{ agent.client_set.count }}</td>

                                            <td class="px-6 py-4">
                                                <a href="#"
                                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="text-center">No Agents</div>
                        {% endif %}
                    </div>
                    <div class="w-1/2 clients scrollable-container">
                        <h2 class="mb-6 text-lg mt-4">Teams</h2>
                        {% if teams %}
                            <div class="relative overflow-x-auto shadow-md rounded-lg mr-2 ml-2">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Name
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Organization
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Agents
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Leads
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Clients
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for team in teams %}
                                        <tr class="border-b dark:bg-gray-900 dark:border-gray-700 bg-gray-100 {% cycle 'bg-white' 'bg-grey-100' %}">
                                            <td class="px-6 py-4 font-medium">{{ team.name }}</td>

                                            <td class="px-6 py-4">{{ team.organization }}</td>

                                            <td class="px-6 py-4">{{ team.agents.count }}</td>

                                            <td class="px-6 py-4">{{ team.leads.count }}</td>

                                            <td class="px-6 py-4">{{ team.clients.count }}</td>

                                            <td class="px-6 py-4">
                                                <a href="#"
                                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="text-center">No Teams</div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="text-2xl bg-blue-100 font-light text-center py-20 px-0">
                <h1 class="text-xl">Dashboard</h1>
                <div class="flex mt-4 mb-4 bg-blue-100">
                    <div class="w-1/2 leads scrollable-container">
                        <h2 class="mb-6 text-lg mt-4">Teams</h2>
                        {% if teams %}
                            <div class="relative overflow-x-auto shadow-md rounded-lg mr-2 ml-2">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Name
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Organization
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Agents
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Leads
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Clients
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for team in teams %}
                                        <tr class="border-b dark:bg-gray-900 dark:border-gray-700 bg-gray-100 {% cycle 'bg-white' 'bg-grey-100' %}">
                                            <td class="px-6 py-4 font-medium">{{ team.name }}</td>

                                            <td class="px-6 py-4">{{ team.organization }}</td>

                                            <td class="px-6 py-4">{{ team.agents.count }}</td>

                                            <td class="px-6 py-4">{{ team.leads.count }}</td>

                                            <td class="px-6 py-4">{{ team.clients.count }}</td>

                                            <td class="px-6 py-4">
                                                <a href="#"
                                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="text-center">No Teams</div>
                        {% endif %}
                    </div>
                    <div class="w-1/2 leads scrollable-container">
                        <h2 class="mb-6 text-lg mt-4">Agents</h2>
                        {% if agents %}
                            <div class="relative overflow-x-auto shadow-md rounded-lg mr-2 ml-2">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Name
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Team
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Email
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Leads
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Clients
                                        </th>

                                        <th scope="col" class="px-6 py-3">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for agent in agents %}
                                        <tr class="border-b dark:bg-gray-900 dark:border-gray-700 bg-gray-100 {% cycle 'bg-white' 'bg-grey-100' %}">
                                            <td class="px-6 py-4 font-medium">{{ agent.first_name }} {{ agent.last_name }}</td>

                                            <td class="px-6 py-4">{{ agent.team }}</td>

                                            <td class="px-6 py-4">{{ agent.email }}</td>

                                            <td class="px-6 py-4">{{ agent.lead_set.count }}</td>

                                            <td class="px-6 py-4">{{ agent.client_set.count }}</td>

                                            <td class="px-6 py-4">
                                                <a href="#"
                                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="text-center">No Agents</div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex mt-4 mb-4 bg-blue-100">
                    <div class="w-1/2 leads scrollable-container">
                        <h2 class="mb-6 text-lg">Leads</h2>
                        {% if leads %}
                            <div class="relative overflow-x-auto shadow-md rounded-lg mr-2 ml-2 mb-4">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Name
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Email
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Organization
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Team
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for lead in leads %}
                                        <tr class="border-b dark:bg-gray-900 dark:border-gray-700 bg-gray-100 {% cycle 'bg-white' 'bg-grey-100' %}">
                                            <td class="px-6 py-4 font-medium">{{ lead.name }}</td>

                                            <td class="px-6 py-4">{{ lead.email }}</td>

                                            <td class="px-6 py-4">{{ lead.organization }}</td>

                                            <td class="px-6 py-4">{{ lead.team }}</td>
                                            <td class="px-6 py-4">
                                                {% if request.user == lead.created_by or request.user.is_org_owner or request.user.is_superuser %}
                                                    <a href="{% url 'lead_details' pk=lead.pk %}"
                                                       class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                                        Details
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="text-center">No leads</div>
                        {% endif %}
                        {% include 'partials/leads_pagination.html' %}
                    </div>

                    <div class="w-1/2 clients scrollable-container">
                        <h2 class="mb-6 text-lg">Clients</h2>
                        {% if clients %}
                            <div class="relative overflow-x-auto shadow-md rounded-lg mr-2 ml-2">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Name
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Email
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Organization
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Team
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for client in clients %}
                                        <tr class="border-b dark:bg-gray-900 dark:border-gray-700 bg-gray-100 {% cycle 'bg-white' 'bg-grey-100' %}">
                                            <td class="px-6 py-4 font-medium">{{ client.name }}</td>

                                            <td class="px-6 py-4">{{ client.email }}</td>

                                            <td class="px-6 py-4">{{ client.organization }}</td>

                                            <td class="px-6 py-4">{{ client.team }}</td>

                                            <td class="px-6 py-4">
                                                {% if request.user == client.created_by or request.user == client.converted_by or request.user.is_org_owner or request.user.is_superuser %}
                                                    <a href="{% url 'client_details' client.pk %}"
                                                       class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                                        Details
                                                    </a>
                                                {% endif %}
                                                {#                            <a href="{% url 'edit_lead' lead.pk %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">#}
                                                {#                                Edit#}
                                                {#                            </a>#}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="text-center">No clients</div>
                        {% endif %}
{#                        {% include 'partials/clients_pagination.html' %}#}
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
